* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif, 'Brush Script MT';
}

.anchor {
    display: block;
    height: 12%;
    visibility: hidden;
}

.navcontain {
    display: flex;
    width: 100%;
    height: 12%;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 310px;
}

.navbar {
    width: 85%;
    height: 80%;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 10px;
    color: white;
    margin: 5px;
    border: 1px solid grey;
}
.navbar div {
    width: 100%;
    height: 100%;    
    display: flex;
    
}
.navbar ul.left {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 85%;
    font-size: 32px;
    font-family: "consolas";
}

.navbar div div.right {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 115%;
}

.navbar ul.left li {
    margin-left: 10px;
}

.navbar div.right a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.button {
    background-color: rgb(244, 174, 43);
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    height: auto;
}

.button:hover {
    background-color: rgb(219, 214, 205);
    padding: 10px;
    border-radius: 25px;
    color: black;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(150, 100, 0) );
    overflow: auto;
    min-width: 320px;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    background-image: url("./asset/sunset.jpeg");
    background-size: cover;
    background-position: center;
}

.greeting h1 {
    margin-left: 2.5%;
    background-color: rgb(0 0 0 / 40%);
}
.greeting h1 span {
    color: orange;
}

.greeting p {
    margin: 10px;
    font-size: 25px;
    background-color: rgb(0 0 0 / 40%);
}

h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: white;
}

.background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.background .title {
    width: 30%;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.background .title h4{
    text-align: center;
}

.background .story {
    height: 70%;
    list-style: none;
    margin: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.background ul li {
    margin-bottom: 20px;
}

.skills {
    height: 80%;
    background-color: rgb(43, 43, 55);
    border-radius: 25px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.skills h4 {
    width: 30%;
    text-decoration: underline yellow;
}

.skills ul{
  margin: 0 10px;
  padding: 10px;
  height: 90%;
  width: 70%;
  list-style: none;  
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2px 2px; 
  grid-template-areas: 
    "col1-item1 col2-item1 col3-item1"
    "col1-item2 col2-item2 col3-item2"
    "col1-item3 col2-item3 col3-item3"
    "col4-item1 col4-item2 col4-item3";

}

.skills li{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.skills li i {
    font-size: 64px;
    margin-bottom: 10px;
}

.skills li span {
    margin-bottom: 10px;
}


.col1-item1 { grid-area: col1-item1; }
.col1-item2 { grid-area: col1-item2; }
.col1-item3 { grid-area: col1-item3; }
    /* Column 2 */
.col2-item1 { grid-area: col2-item1; }
.col2-item2 { grid-area: col2-item2; }
.col2-item3 { grid-area: col2-item3; }
    /* Column 3 */
.col3-item1 { grid-area: col3-item1; }
.col3-item2 { grid-area: col3-item2; }
.col3-item3 { grid-area: col3-item3; }

.col4-item1 { grid-area: col4-item1; }
.col4-item2 { grid-area: col4-item2; }
.col4-item3 { grid-area: col4-item3; }

.projects {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projects h4{
    margin-bottom: 10px;
}

.projects .projcontain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 0;
}

.projects .projcontain .circle .arrow {
    border: solid rgb(244, 174, 43);
    height: 20px;
    width: 20px;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.projects .projcontain .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.projects .projcontain .circle:hover{
    background-color: lightgrey;
}

.projects .projcontain .circle .left {
    transform: rotate(135deg);
    margin-left: 15px;
}
 
.projects .projcontain .circle .right {
    transform: rotate(-45deg);
    margin-right: 15px;
}

.projects .projcontain ul {
    list-style: none;
    height: 100%;
    width: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

  }


.projects .projcontain ul li {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 3px solid black;
    width: 100%;
    height: auto;
  }

.projects .projcontain ul li h5 {
    color: white;
    width: 100%;
    height: 10%;
    text-align: center;
}
.projects .projcontain ul li p.projdesc {
    height: auto;
    text-align: center;
    color: white;
    background-color: rgb(43, 43, 55);
    padding: 10px;
}

.projshow {
    height: 100%;
    width: 100%;
    transition: width 2s;
}

@keyframes example {
    0%   {transform: scaleX(0);}
    100% {transform: scaleX(1);}
  }

.projanim {
    transform: scaleX(1);
    animation-name: example;
    animation-duration: 1s;
}

img.projimage {
    height: auto;
    max-height: 60%;
    width: 100%;
}

video.projvideo {
    height: auto;
    max-height: 60%;
    width: 100%;
    display: none;
    transition: width 2s;
}

.techs {
    height: auto;
    margin: 0;
    background-color:rgb(150, 100, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.techs div {
    background-color: rgb(43, 43, 55);
    color: white;
    border: 1px solid blue;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

@media(max-height: 530px){
    .skills{
        height: auto;
    }
    .background{
        height: auto;
    }
}

@media(max-width: 1430px){
    /* .container {
        background-image: linear-gradient(to right, cyan, magenta);
    } */

    .skills li i {
        font-size: 40px;
    }
}

/* Tablet and under */
@media(max-width: 768px){
    /* .container {
        background-image: linear-gradient(to right, red , green);
    } */

    .navbar ul.left {
        font-size: 21px;
    }

    .navbar  div div.right{
        font-size: 14px;
        text-align: center;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: 15px;
    }

    .skills ul {
        padding: 0;
        margin: 0;
        height: 80%;
        width: 100%;
    }

    .skills li i {
        font-size: 50px;
    }

    .skills li span {
        font-size: 12px;
    }
}

/* Mobile and under */
@media(max-width: 665px){
    /* .container {
        background-image: linear-gradient(to right, pink , purple);
    } */

    .navcontain {
        height: 120px; 
    }

    .anchor {
        height: 120px;
    }

    .navbar div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar  div ul.left{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .navbar ul.left li {
        margin-left: 0;
    }

    .navbar  div div.right{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .navbar div.right a {
        margin: 10px;
    }

    .background{
        justify-content: flex-start;
    }

    .background .title h2{
        font-size: 21px;

    }

    .background .story {
        width: auto;
        padding: 0;
    }

    .button {
        font-size: 14px;
    }

    .skills h4 {
        font-size: 21px;
    }
}

@media(max-width: 395px){
    /* .container {
        background-image: linear-gradient(to right, yellow , orange);
    } */

    .background .title {
        width: 100%;
        margin: 0 10px;
        height: auto;
    }

    .background .story {
        font-size: 14px;
    }

    .skills h4 {
        font-size: 21px;
    }
    
    .skills ul {
        padding: 0;
        margin: 0;
    }

    .skills ul {
        padding: 0;
        margin: 0;
        height: 80%;
        width: 100%;
    }

    .skills li i {
        font-size: 32px;
    }

}

