* {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, 'Brush Script MT';
}

.navcontain {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.navbar {
    width: 60%;
    height: 80%;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 10px;
    color: white;
    margin: 5px;
    border: 1px solid grey;
}
.navbar div {
    width: 100%;
    height: 100%;    
    display: flex;
    
}
.navbar ul.left {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 32px;
    font-family: "consolas";
}

.navbar div.right {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar ul.left li {
    margin-left: 20px;
}

.navbar div.right a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.button {
    background-color: rgb(244, 174, 43);
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: rgb(219, 214, 205);
    padding: 10px;
    border-radius: 25px;
    color: black;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, black , darkblue);
    overflow: scroll;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20%;
    height: 100%;
    color: white;
}

.greeting h1 {
    margin-left: 2.5%;
}
.greeting h1 span {
    color: orange;
}

.greeting p {
    margin: 10px;
    font-size: 25px;
}

h4 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.background {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.background .title {
    width: 30%;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background .title h2{
    text-align: center;
}

.background .story {
    list-style: none;
    margin: 20px;
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.background ul li {
    margin-bottom: 20px;
}

.skills {
    height: 60%;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    color: white;
}

.skills h4 {
    width: 30%;
}

.skills ul{
  margin: 0 10px;
  padding: 10px;
  height: 90%;
  width: 70%;
  list-style: none;  
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2px 2px; 
  grid-template-areas: 
    "col1-item1 col2-item1 col3-item1"
    "col1-item2 col2-item2 col3-item2"
    "col1-item3 col2-item3 col3-item3"
    "col4-item1 col4-item2 col4-item3";

}

.skills li{
  margin: 0;
  padding: 0;
  background-color: green;
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.col1-item1 { grid-area: col1-item1; }
.col1-item2 { grid-area: col1-item2; }
.col1-item3 { grid-area: col1-item3; }
    /* Column 2 */
.col2-item1 { grid-area: col2-item1; }
.col2-item2 { grid-area: col2-item2; }
.col2-item3 { grid-area: col2-item3; }
    /* Column 3 */
.col3-item1 { grid-area: col3-item1; }
.col3-item2 { grid-area: col3-item2; }
.col3-item3 { grid-area: col3-item3; }

.col4-item1 { grid-area: col4-item1; }
.col4-item2 { grid-area: col4-item2; }
.col4-item3 { grid-area: col4-item3; }

.projects {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.projects h2{
    margin: 10px;
    color: white;
}

.projects .projcontain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projects .projcontain .circle .arrow {
    border: solid rgb(244, 174, 43);
    height: 20px;
    width: 20px;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

.projects .projcontain .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.projects .projcontain .circle:hover{
    background-color: lightgrey;
}

.projects .projcontain .circle .left {
    transform: rotate(135deg);
}

.circle left {
    background-color: red;
}
 
.projects .projcontain .circle .right {
    transform: rotate(-45deg);
}

.projects .projcontain h4 {
    width: 30%;
}

.projects .projcontain ul {
    list-style: none;
    width: 70%;
    margin: 0;
    padding: 0;

  }


.projects .projcontain ul li {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    background-color: white;
    border: 3px solid black;
    width: 100%;
  }

.projects .projcontain ul li h4 {
    width: 100%;
}
.projects .projcontain ul li p {
    height: 100%;
    text-align: center;
    background-color: brown;
}

.techs {
    height: auto;
    margin: 0;
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.techs div {
    border: 1px solid blue;
    text-align: center;
    margin: 10px;
}